/*
 * Optional - Bulma.css
 */
@import "../../node_modules/highlight.js/styles/dracula.css";
@import "../../node_modules/bulma/bulma.sass";

/*
 * Optional - Demo styles
 */
 .demo-intro {
   margin-top: 30px;
 }
 .demo-footer {
   margin-bottom: 30px;
 }
.product {
  margin-top: 50px;
  &__row {
    margin-top: 50px;
  }
  &__latname {
    font-style: italic;
  }
  &__details {
    text-align: center;
  }
  &__svg-wrapper {
    @media screen and (max-width: $desktop) {
      padding: 0 4rem;
    }
    @media screen and (max-width: $tablet) {
      padding: 0 2rem;
    }
  }
}

/*
 * Required library styles
 */
.product__svg {
  width: 100%;
  height: 100%;
  circle {
    fill: #d39761;
    fill-opacity: .1;
    stroke: #d39761;
    stroke-width: 1;
    transition: .3s;
  }
  g {
    cursor: pointer;
    &.active, &:hover {
      circle {
        fill: #213566;
        stroke: #213566;
      }
      text {
        fill: #213566;
      }
    }
  }
  image {
    pointer-events: none;
  }
  text {
    fill: #d39761;
    font-family: 'Arial';
    font-size: 17px;
    transition: .3s;
    pointer-events: none;
  }
}

/*
 * Optional - Ingredients slider
 */
.ingredients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 3rem;
  @media screen and (max-width: $desktop) {
    margin-left: 0;
    margin-top: 3rem;
  }
  &__items {
    background-color: #eee5dd;
    cursor: grab;
    user-select: none;
    transition: .3s;
    &:hover {
      background-color: #ebddd2;
    }
  }
  &__item {
    padding: 2rem;
    h3 {
      font-size: 1.5rem;
    }
    a {
      margin-bottom: 1rem;
      display: block;
      font-size: 0.8rem;
    }
  }
  .tns-outer {
    display: flex;
    flex-direction: column;
  }
  .tns-horizontal.tns-subpixel {
    white-space: normal;
  }
  .tns-controls {
    order: 1;
    margin-top: 1rem;
    & > button {
      margin: 0 10px;
    }
  }
}

/*
 * Optional - Ingredients slider fallback
 */
.no-js .ingredients__items {
  overflow-x: auto;
  > div {
    float: none; 
  }
}
